@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}
.bg-hero {
  background: #307d99 url("../images/bg.jpg");
  background-position: 12% 83%;
  text-align: center;
  padding-bottom: 4em;
  color: white;
  background-size: cover;
  height: 100vh;
}

header {
  padding-top: 1em 0;
}
header a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
}
section {
  margin: 0 1em;
}
h1 {
  font-size: 2.4rem;
  margin: 2em 0 1.2em;
}
h1 span {
  font-size: 1.4rem;
  display: block;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}
h1 span::before {
  content: " ";
  position: absolute;
  width: 3em;
  height: 0.4em;
  background-color: #00bfff;
  bottom: 0;
  z-index: -1;
  margin-left: -0.3em;
}
.bg-hero p {
  margin: 0 1em 3em;
  font-weight: bold;
}
.form-container {
  background-color: white;
  margin: 2em -1em 0;
}
label {
  font-weight: bold;
  display: block;
  color: #2d7d98;
  margin-bottom: 1em;
  font-size: 1.2em;
}

input[type="text"] {
  border: 1px solid #707070;
  margin-top: 1.2em;
  padding: 1em;
  width: 100%;
  border-radius: 0.5em;
  box-sizing: border-box;
}
.form-container p {
  color: gray;
  margin-top: 0.4em;
  font-weight: normal;
  font-size: 0.9em;
}
input[type="button"] {
  background-color: #f89104;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 1.3em;
  padding: 1em 0;
  border-radius: 0.3em;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 1.5em;
  cursor: pointer;
}

input[type="button"]:hover {
  background-color: #cf7900;
}

.authentic {
  margin: 0;
}
.right-col {
  text-align: center;
  margin: 3em 1em;
}
img {
  width: 100%;
}
h2 {
  font-weight: bold;
  font-size: 1.5em;
  position: relative;
  z-index: 1;
}

.right-col h2::before {
  content: " ";
  width: 8em;
  height: 0.3em;
  background-color: #00bfff;
  position: absolute;
  bottom: 0;
  z-index: -1;
  margin-left: -0.4em;
}
.right-col p {
  line-height: 2em;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  place-content: center;
  display: none;
  z-index: 1;
  color: white;
}
.animated-overlay {
  animation: dark 3s forwards;
}
.animated-head {
  animation: slide 2s forwards;
}
@media (min-width: 720px) {
  .form-container {
    margin: 2em -4em 0;
  }
  section {
    margin: 0 4em;
  }
}
@media (min-width: 920px) {
  .bg-hero {
    text-align: left;
  }
  .hero-bg section {
    width: 65%;
  }
  .bg-hero p {
    margin: 0 0 3em;
  }
  .form-container {
    margin: 2em 0 0;
    padding: 2em;
    border-radius: 0.3em;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  }
  form {
    display: flex;
  }
  .form-container label {
    margin: 0;
  }
  .form-left {
    width: 70%;
  }
  .form-left p {
    margin-bottom: 0;
  }
  input[type="button"] {
    height: fit-content;
    font-size: 1.1em;
    margin-left: 1em;
    margin-top: 2.2em;
    padding: 0.7em 0;
    width: 30%;
  }
  header {
    padding-top: 1.5em;
  }
  .authentic {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-areas: "bowl content";
  }
  .right-col {
    grid-area: content;
    padding: 0 10%;
    text-align: left;
    align-self: center;
  }
  img {
    grid-area: bowl;
  }
  h2 {
    margin: 0;
  }
}
@media (min-width: 1275px) {
  .bg-hero section {
    width: 45%;
    margin: 0 15%;
  }
}
.top {
  animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-2em);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes dark {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes slide {
  from {
    transform: translateX(1.5em);
  }
  to {
    transform: translateX(0);
  }
}
